<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleLog" />
        </Root>
        <logger name="com.zaxxer.hikari" level="off" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </logger>
    </Loggers>
</Configuration>
