<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mapper/db.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="util.HikariDataSourceFactory">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="cachePrepStmts" value="${cachePrepStmts}"/>
                <property name="prepStmtCacheSize" value="${prepStmtCacheSize}"/>
                <property name="prepStmtCacheSqlLimit" value="${prepStmtCacheSqlLimit}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/StadiumMapper.xml"/>
        <mapper resource="mapper/TeamMapper.xml"/>
        <mapper resource="mapper/PlayerMapper.xml"/>
        <mapper resource="mapper/OutPlayerMapper.xml"/>
    </mappers>
</configuration>