<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OutPlayerMapper">

    <insert id="insert">
        <bind name="reasonDescription" value="_parameter.getReason().getDescription()"/>
        insert into out_player (player_id, reason) values (#{playerId}, #{reason})
    </insert>

    <select id="selectAll" resultType="dto.OutPlayerResponseDTO">
        select p.id as id, p.name as name, p.position as position, o.reason as reason, o.created_at as createdAt
        from player as p left join out_player as o
        on p.id = o.player_id
        order by reason
    </select>

</mapper>