<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PlayerMapper">

    <insert id="insert">
        <bind name="positionDescription" value="_parameter.getPosition().getDescription()"/>
        insert into player (team_id, name, position) values (#{teamId}, #{name}, #{positionDescription})
    </insert>
    
    <resultMap id="player1" type="domain.Player">
        <id column="id" property="id" />
        <result column="team_id" property="teamId" />
        <result column="name" property="name" />
        <result column="position" property="position" typeHandler="domain.PositionHandler" />
        <result column="create_at" property="createdAt" />
    </resultMap>
    <select id="selectListByTeamId" resultMap="player1">
        select * from player where team_id = #{teamId}
    </select>

    <select id="selectListsForEachPositionAndTeam" resultMap="">
        with combined_teams as (
            select player.position, player.name, team.name as team_name
            from player
                join team on player.team_id = team.id
        )
        select
            position,
            max(case when team_name = '한화 이글스' then name end) as "한화 이글스",
            max(case when team_name = '두산 베어스' then name end) as "두산 베어스",
            max(case when team_name = '롯데 자이언츠' then name end) as "롯데 자이언츠"
        from combined_teams
        group by position;
    </select>
</mapper>